/* nav.css */
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-12px);
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-6px);
    }
    80% {
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation: bounce 0.6s ease-in-out;
  }
  
  .link {
    transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
    border-radius: 8px; /* Bordure arrondie */
  }
  
  .link:hover {
    transform: scale(1.20); /* Zoom moyen */
    background-color: #1d4ed8; /* Couleur d'arrière-plan au survol */
    color: #ffffff; /* Couleur du texte au survol */
  }
  