/* Conteneur pour masquer l'excès de contenu */
.overflow-container {
    overflow: hidden; /* Masque le débordement */
    white-space: nowrap; /* Assure que les éléments restent en ligne */
    position: relative;
    width: 100%; 
  }
  
  /* Contenu qui défile */
  .animate-scroll {
    display: inline-flex; /* aligner les éléments en ligne */
    white-space: nowrap; /* Assure que les éléments restent en ligne */
    animation: scroll 30s linear infinite; /* Défilement fluide */
  }
  
  /* Animation pour le défilement */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%); 
    }
  }
  